.example-spacer {
    flex: 1 1 auto;
  }
  .dashboard-container {
    width: auto;
    height: auto;
  }
  button {
    margin-left: 20px;
  }
.field-task {
  width: 50%;
  margin-top: 40px;
  margin-left: 50px;
}

